<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="letter.css" />
  </head>

  <body>
    <div class="container">
      <div class="topnav" id="myTopnav">
        <a href="../../../hb.html">Home🏡</a>
        <a href="../love/love.html">Resons why I love you💗</a>
        <a href="letter.html" class="active">Love Letter💟💌</a>
      </div>

      <div class="letter-container">
        <div class="letter active">
          <p class="cursive address">Dear Bobo,</p>
          <p class="body">
            Happy Birthday! 🥳🎂🍾<br />
            I am so blessed to have you. We are far apart but your love gives me
            reason to push through and do more. You are my serendipity, you are
            so amazing and I am so lucky 🌈🏰. You are a blessing for which my
            parents prayed 😇. I know I have not treated you very well over the
            years. I was not a good partner to you and yet you stood by me. You
            loved me at my lowest points, when I was so ugly and not even a good
            person. I promise I will be a better partner and will love you a
            lot. You are my light🕯️, my life, my soul 💛. Your name, your eyes,
            your voice, your touch, your scent, your breath is engraved on my
            soul. I want to do everything for you. My life is yours now 🌸. I am
            so much in love with you that I cry sometimes out of love 💗. You
            make me so happy. I laugh because of you 🤗.
          </p>
          <p class="body">
            It is just amazing that around millions of people we met and just
            loved each other for so many years 👩‍❤️‍👨 🫂. You have changed my life I
            was so afraid to love and trust but you just opened your arms for me
            🩷. You are so kind and probably the best partner 🌻. I miss you
            everyday. I miss your warmth, your gentle touch, your hands on my
            head, your arms, your kisses, your brown eyes that make me go crazy.
            Even while I am writing this I am crying 😭. I don't know why I love
            you so much. Why I look for you everywhere. Why I crave for you.
            There is no answer. Your birthday is the best day of every year 🌺.
            I am so grateful that you were born 🫰🏻. You are my moon and
            stars🌛🌟✨.<br /><br />
            I hope you have an amazing year. I pray that all your wishes come
            true🔮💐. You deserve all the happiness 🎀🎊 and success in the
            world.💝🎁
          </p>
          <p class="writer cursive">
            Yours, <br />
            Rinni 💜🌷🪻🐮
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
