<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="love.css" />
  </head>

  <body>
    <div class="container">
      <div class="topnav" id="myTopnav">
        <a href="../../../hb.html">Home🏡</a>
        <a href="love.html" class="active">Resons why I love you💗</a>
        <a href="../letter/letter.html">Love Letter💟💌</a>
      </div>

      <div class="container2">
        <div class="paper image">
          <p></p>
          <img src="../../../images/daylight.JPG" />
        </div>

        <div class="paper image">
          <p></p>
          <img src="../../../images/look.JPG" />
        </div>

        <div class="paper image">
          <p></p>
          <img src="../../../images/mindonyou.JPG" />
        </div>

        <div class="paper image">
          <p></p>
          <img src="../../../images/oceaneyes.JPG" />
        </div>
        <div class="paper image">
          <p></p>
          <img src="../../../images/heart.JPG" />
        </div>
        <div class="paper image">
          <p></p>
          <img src="../../../images/yours.JPG" />
        </div>

        <div class="paper image">
          <p></p>
          <img src="../../../images/stars.JPG" />
        </div>

        <div class="paper">
          <p class="p1">💜 Drag Me! 💜</p>
        </div>
      </div>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
